@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0077B6;
  --color-secondary: #2A9D8F;
  --color-accent: #ADE8F4;
  --color-neutral: #EEF4FD;
  --color-neutralDark: #012757;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0077B6;
    --color-secondary: #2A9D8F;
    --color-accent: #ADE8F4;
    --color-neutral: #EEF4FD;
    --color-neutralDark: #012757;
  }
}

html, body {
  height: 100%; /* Sayfanın tamamını kapsaması için */
  margin: 0; /* Varsayılan marginleri kaldırmak için */
}

body {
  background: linear-gradient(
    to bottom right, /* Sol üstten sağ alta doğru */
    var(--color-accent), /* Başlangıç rengi */
    var(--color-neutral) 45% /* Bitiş rengi */
  );
  
  background-repeat: no-repeat; /* Arka planın tekrarlanmasını önler */
  background-attachment: fixed; /* Arka planı sabitler, kaydırmayı önler */
  background-size: cover; /* Arka planın tüm alanı kaplamasını sağlar */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
